<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aseguradora Grupo Asistencia</title>

    <!-- Estilos CSS -->
    <link rel="stylesheet" href="../assets/css/normalize.css">
    <link rel="stylesheet" href="../assets/css/login.css">

    <!-- Icono -->
    <link rel="icon" type="png" href="../public/images/icon-page.ico">

    <!-- Iconos -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css" rel="stylesheet" />

    <!-- SweetAlert2 CDN -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!-- jQuery CDN -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>
<body class="recuperar">
    <!-- General Pos -->
    <div class="container">

        <!-- columna izquierda -->
        <div class="login-column">

            <!-- Logo -->
            <div class="logo">
                <!-- <a href="#"><img src="/assets/img/logo-pos.svg" alt="logo"></a> -->
                <span class="logo-register ">¿Olvidastes tú contraseña?</span>
                <span class="p-register color">Ingresa tú nueva contraseña</span>
            </div>

            <!-- formulario se sesión -->
            <div class="form-container">

                <form action="">
                    <div class="input-group">
                        <input type="password" id="userOldPass" class="input-field" placeholder="" required autocomplete="off" min="8" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}">
                        <label for="userName" class="input-label">Antigua Contraseña</label> 
                    </div>
                    <div class="input-group">
                        <input type="password" id="userNewPass" class="input-field" placeholder="" required autocomplete="off" min="8" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}">
                        <label for="userName" class="input-label">Nueva Contraseña</label> 
                    </div>
                    
                    <button id="changePassword">Restaurar contraseña</button>

                    <div class="signup-link">
                        <a href="../../index.html">Volver a inicio</a>
                    </div>

                </form>          
            </div>

        </div>

        <!-- columna derecha -->
        <div class="image-column">
            <!-- <img src="assets/img/cliente-pos.svg" alt="Login Image"> -->
        </div> 

    </div>

    <script src="../assets/utils/changePass.js" defer></script>

</body>
</html>